*{ margin:0; padding:0;}
body{font:14px/1.5 "Hiragino Sans GB","Hiragino Sans GB W3";background:#fff;}
textarea{ padding:5px 12px;border-radius:4px;resize: none;}
.input{ padding:5px 6px; margin-right:10px;}
.demo1{ width:500px;margin: 0 auto; padding-top:100px;}
/* main */
.demo1 .popover{position:relative;display:block;float:left;width:260px;}
.demo1 .popover p{ margin-bottom:0;}
.demo1 .popover-content{ padding:4px 10px;color: #f00;}
.user-input .form-group{ position:relative;}
/*.user-input .popover{ position:absolute; left:525px;}*/
.user-input .popover{ position:absolute; left:435px;}